@tailwind base;
@tailwind components;
@tailwind utilities;


.toolbar-btn {
  @apply p-3 bg-gray-200 rounded-md hover:bg-gray-300 transition duration-200 text-gray-700 shadow-sm;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-btn svg {
  width: 18px;
  height: 18px;
}

.toolbar-btn:hover {
  background-color: #d1d5db;
}

